body {
   width: 100%;
   height: 100%;
   background-color: rgba(51, 51, 227, 0.938);
   overflow: hidden;
}

.sky__img {
   width: 100%;
   height: 580px;
   object-fit: cover;
}

.cloud__img {
   margin: 70px;
   width: 300px;
   height: 300px;
}

.plane__img {
   width: 100px;
   height: 100px;
}

.plane__div {
   width: 100px;
   height: 100px;
   position: relative;
   animation-name: plane;
   animation-duration: 4s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}

@keyframes plane {
   0% {
      top: 0;
      left: 0;
   }

   3% {
      top: -10px;
      left: 50px;
   }

   6% {
      top: -20px;
      left: 100px
   }

   9% {
      top: -30px;
      left: 150px
   }

   12% {
      top: -40px;
      left: 200px
   }

   15% {
      top: -50px;
      left: 250px
   }

   18% {
      top: -60px;
      left: 300px
   }

   21% {
      top: -70px;
      left: 350px
   }

   24% {
      top: -80px;
      left: 400px
   }

   27% {
      top: -90px;
      left: 450px
   }

   30% {
      top: -100px;
      left: 500px
   }

   33% {
      top: -110px;
      left: 550px
   }

   36% {
      top: -120px;
      left: 600px
   }

   39% {
      top: -130px;
      left: 650px
   }

   42% {
      top: -140px;
      left: 700px
   }

   44% {
      top: -150px;
      left: 750px
   }

   47% {
      top: -160px;
      left: 800px
   }

   50% {
      top: -170px;
      left: 850px
   }

   53% {
      top: -180px;
      left: 900px
   }

   56% {
      top: -190px;
      left: 950px
   }

   59% {
      top: -200px;
      left: 1000px
   }

   62% {
      top: -210px;
      left: 1050px
   }

   65% {
      top: -220px;
      left: 1100px
   }

   68% {
      top: -230px;
      left: 1150px
   }

   71% {
      top: -240px;
      left: 1200px
   }

   74% {
      top: -250px;
      left: 1250px
   }

   77% {
      top: -260px;
      left: 1300px
   }

   80% {
      top: -270px;
      left: 1350px
   }

   83% {
      top: -280px;
      left: 1400px
   }





}